* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E2D9C5;
}

h1 {
    color: #6F7714;
    text-align: center;
    font-size: 80px;
    font-family: "Brush Script MT", "Lucida Handwriting", "Georgia", serif;
}

.recipe-info ul {
    list-style: none;   
}

.recipe-info ul li {
    display: inline-block;
    margin: 10px;
}

.recipe-info ul li h2 {
    font-size: 18px;
}

.website {
    display: inline;
    text-decoration-line: underline;
    color: #8B3422;
    font-size: 16px;
}

.recipe-card {
    border: 5px solid #8B3422;
    width: 1000px;
    margin: 20px auto;
    padding: 0px;
}

.recipe-image {
    display: inline-block;
    border: 5px solid #AB5235;
    width: 30%;
    height: 235px;
}

.recipe-content {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.recipe-link {
    text-decoration: none;
    color: #AB5235;
    font-size: 50px;
    vertical-align: top;
    margin: 0px auto;
    font-size: 40px;
}
